<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Patient Registration</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body> 
    <h2> Clinic Patient Registration</h2>
     <div class="form-box">
        <form id="patientForm" autocomplete="off">
            <table>
               <tr>
                    <td><label for="fullName">Full Name:</label></td>
                    <td>
                        <input type="text" id="fullName" name="fullName">
                        <span class="error" id="fullNameError"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="age">Age:</label></td>
                    <td>
                        <input type="number" id="age" name="age" min="0">
                        <span class="error" id="ageError"></span>
                    </td>
                </tr>
                <tr>
                      <td><label for="email">Email Address:</label></td>
                    <td>
                        <input type="text" id="email" name="email">
                        <span class="error" id="emailError"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="insuranceProvider">Insurance Provider:</label></td>
                     <td>
                       <select id="insuranceProvider" name="insuranceProvider">
                            <option value="">Select Provider</option>
                            <option value="Provider A">Provider A</option>
                            <option value="Provider B">Provider B</option>
                            <option value="Provider C">Provider C</option>
                        </select>
                        <span class="error" id="insuranceProviderError"></span>
                    </td>
                </tr>
                <tr>