body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
h1, h2{
    text-align: center;
    color: darkgreen;
    margin: 10px 0;
}
.form-box {
    width: 480px;
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
table {
    width: 100%;
}
td {
    padding: 6px;
    font-size: 14px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
select,
textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
input[type="submit"],
input[type="reset"] {
    padding: 6px 14px;
    margin-top: 8px;
    cursor: pointer;
}
.error {
    color: red;
    font-size: 12px;
    display: block;
}
.success {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
